<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZ5Ni3JG2qipSw0Rpu5bnR8LbmCCyviiw</string>
	<key>GCM_SENDER_ID</key>
	<string>791935290749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cccinfotech.cfg</string>
	<key>PROJECT_ID</key>
	<string>cfg--management-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cfg--management-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791935290749:ios:3a55566fce69110b71d014</string>
</dict>
</plist>